<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XtraFinder_ShowStatusBarIcon</key>
	<true/>
	<key>XtraFinder_XFAlwaysMaximizePlugin</key>
	<true/>
	<key>XtraFinder_XFAlwaysShowToolbarPlugin</key>
	<true/>
	<key>XtraFinder_XFAutoArrangeByNamePlugin</key>
	<true/>
	<key>XtraFinder_XFBrowserViewMiddleClickPlugin</key>
	<true/>
	<key>XtraFinder_XFColorfulSidebarPlugin</key>
	<false/>
	<key>XtraFinder_XFCutAndPastePlugin</key>
	<true/>
	<key>XtraFinder_XFEnterToOpenPlugin</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Date</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_HasMaxWidth</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Kind</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_MaxWidth</key>
	<string>400</string>
	<key>XtraFinder_XFFitColumnWidthPlugin_Name</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Size</key>
	<true/>
	<key>XtraFinder_XFFolderItemCountPlugin</key>
	<true/>
	<key>XtraFinder_XFFoldersOnTopPlugin</key>
	<true/>
	<key>XtraFinder_XFHideDotFilesOnDesktopPlugin</key>
	<true/>
	<key>XtraFinder_XFHideShareItemPlugin</key>
	<true/>
	<key>XtraFinder_XFLabelsInSidebarPlugin</key>
	<false/>
	<key>XtraFinder_XFLegacyZoomButtonPlugin</key>
	<true/>
	<key>XtraFinder_XFPathBarBreadcrumbMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFRenameActionPlugin</key>
	<true/>
	<key>XtraFinder_XFRenameActionPlugin_Shortcut</key>
	<dict>
		<key>keyChars</key>
		<string></string>
		<key>keyCharsIgnoringModifiers</key>
		<string></string>
		<key>keyCode</key>
		<integer>120</integer>
		<key>modifierFlags</key>
		<integer>8388608</integer>
		<key>modifiers</key>
		<integer>8388608</integer>
	</dict>
	<key>XtraFinder_XFSizeOfSelectedItemsInStatusBarPlugin</key>
	<true/>
	<key>XtraFinder_XFSizeOfSelectedItemsInStatusBarPlugin_AutoCalculate</key>
	<true/>
	<key>XtraFinder_XFSortRecentFoldersPlugin</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_NewTabShortcut</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifierFlags</key>
		<integer>0</integer>
		<key>modifiers</key>
		<integer>0</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_PinnableWindow_Slide</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_ReopenClosedTabShortcut</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifierFlags</key>
		<integer>0</integer>
		<key>modifiers</key>
		<integer>0</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SaveOpenTabs</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_SelectNextTabShortcut</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifierFlags</key>
		<integer>0</integer>
		<key>modifiers</key>
		<integer>0</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SelectPreviousTabShortcut</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifierFlags</key>
		<integer>0</integer>
		<key>modifiers</key>
		<integer>0</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_ShowPinButton</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_ToggleDualPanelShortcut</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifierFlags</key>
		<integer>0</integer>
		<key>modifiers</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
